# Regular file
build/
pipeliner*
*__pycache__*
krypton.egg-info/
MetaPathExplorer.log
krypton/ressources/KEGG*
krypton/ressources/AntiFam.hmm*

# Used for Dev's tests
damien
foo
hidden_notes.*
run_test_*.sh

# Antifam
krypton/ressources/AntiFam.*
