# Regular file
build/
pipeliner*
*__pycache__*
krypton.egg-info/

# Used for Dev's tests
damien
foo
hidden_notes.*
run_test_*.sh

# data
MetaPathExplorer.log
krypton/ressources/KEGG*
krypton/ressources/AntiFam*

# Other
HPC2_usage/
